$unit-padding: 10px;

@for $num from 1 through 5 {
  .p-t-#{$num} {
    padding-top: $num * $unit-padding;
  }

  .p-r-#{$num} {
    padding-right: $num * $unit-padding;
  }

  .p-b-#{$num} {
    padding-bottom: $num * $unit-padding;
  }

  .p-l-#{$num} {
    padding-left: $num * $unit-padding;
  }

  .p-h-#{$num} {
    padding-right: $num * $unit-padding;
    padding-left: $num * $unit-padding;
  }

  .p-v-#{$num} {
    padding-top: $num * $unit-padding;
    padding-bottom: $num * $unit-padding;
  }

  .p-#{$num} {
    padding: $num * $unit-padding;
  }
}
